{% extends 'common/base.html' %}
{% block title %}
    博客管理
{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        td{
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}" />
{% endblock %}
{% block pagecontent %}
<form class="form-inline definewidth m20" action="index.html" method="get">
    用户名称：
    <input type="text" name="username" id="username"class="abc input-default" value="" placeholder="输入搜索的博客标题名...">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;
{#    <button type="button" class="btn btn-success" id="addnew">新增用户</button>#}
</form>
<table class="table table-bordered table-hover definewidth m10">
    <thead>
    <tr>
        <th>博客id</th>
        <th>博客标题</th>
        <th>访问量</th>
        <th>发表时间</th>
        <th>操作</th>
    </tr>
    </thead>
    {% for row in data %}
	     <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.title }}</td>
            <td>{{ row.visit }}</td>
            <td>{{ moment(row.timestamp).format('Y-M-D H:m:ss') }}</td>
            <td>
                <a href="{{ url_for('center.collections',pid=row.id) }}">取消收藏</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
{# 点击删除的时候 用jq删除节点 页面不动 #}