{% extends 'common/base.html' %}
{% block title %}
    发表博客
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script>
{% endblock %}
{% block pagecontent %}
    <form action="{{ url_for('posts.send_posts',_external=True) }}" method="post">
        {{ form.csrf_token }}
        <div class="page-header"><h2>发表博客</h2></div>
        {{ form.title.label() }}
        {{ form.title(class='form-control') }}
        {% for err in form.title.errors %}
            <p style="color:red;">{{ err }}</p>
        {% endfor %}
        <br>
        {{ form.content.label() }}
        {{ form.content(class="ckeditor") }}
        {% for err in form.content.errors %}
            <p style="color:red;">{{ err }}</p>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-success">发表</button>
    </form>

{% endblock %}